<div class="footer">
  <div class="links">
    <%= link_to fa_icon("facebook", class: "fa-solid fa-2x mr-2", style: 'color: white; font-size: 30px;'),  root_path%>
    <%= link_to fa_icon("youtube", class: "fa-solid fa-2x mr-2", style: 'color: white; font-size: 30px; margin-left: 30px;'),  root_path%>
    <%= link_to fa_icon("twitter", class: "fa-solid fa-2x mr-2", style: 'color: white; font-size: 30px; margin-left: 30px;'),  root_path%>
    <%= link_to fa_icon("instagram", class: "fa-solid fa-2x mr-2", style: 'color: white; font-size: 30px; margin-left: 30px;'),  root_path%>
  </div>
  <p style="margin-top: 20px;">InstrumentPal &copy; 2023</p>
  <p>This website was coded with ❤️ by InstrumentPal.</p>
</div>
