<div class="home-container">
<div class="banner">
  <div class="container">
    <div id="banner-text">
      <h1>InstrumentPal</h1>
      <h2>World's Best Online Instrument Rental Website To Follow!</h2>
      <%= link_to "Browse All Instruments!", instruments_path, class: "btn-treehouse" %>
    </div>

  </div>
</div>

<div class="container">
  <h2>Star your musical dreams today!</h2>
  <div class="cards">
    <%= link_to new_user_registration_path, style: "text-decoration:none; color:black;" do %>
      <div class="card">
        <img src="https://steinway.co.uk/wp-content/uploads/2022/09/preview-video-3.jpg">
        <h3>Join</h3>
        <p>Sign up and get access to all our amazing instruments.</p>
      </div>
    <% end %>
    <%= link_to instruments_path, style: "text-decoration:none; color:black;" do %>
      <div class="card">
        <img src="https://imageio.forbes.com/specials-images/imageserve/626981b8533a2c56255a6d86/0x0.jpg?format=jpg&width=1200">
        <h3>Choose your favourite instrument</h3>
        <p>Choose and reserve your favourite instruments.</p>
      </div>
    <% end %>
    <%= link_to root_path, style: "text-decoration:none; color:black;" do %>
      <div class="card">
        <img src="https://www.notreble.com/wp-content/uploads/2017/02/electric-bass.jpg">
        <h3>Start your musical journey</h3>
        <p>Once your reservations are confirmed, start your musical journey with your dream instruments.</p>
      </div>
    <% end %>
  </div>
</div>

<!-- code a footer -->
<div class="footer">
  <div class="links">
    <a href="#"><i class="fa-brands fa-facebook"></i></a>
    <a href="#"><i class="fa-brands fa-youtube"></i></i></a>
    <a href="#"><i class="fa-brands fa-twitter"></i></i></a>
    <a href="#"><i class="fa-brands fa-tiktok"></i></i></a>
    <a href="#"><i class="fa-brands fa-instagram"></i></i></a>
  </div>
  <p>InstrumentPal &copy; 2023</p>
  <p>This website was coded with ❤️ by InstrumentPal.</p>
</div>
</div>
</div>
