<div class="home-container">
  <div class="banner-story">
    <div class="container">
      <div id="banner-text">
        <h1 style="text-align: center; font-size: 60px;">Our story</h1>
        <div class="row justify-content-between align-items-center" style="margin-top: 100px;">
          <div class="col-auto">
            <%= link_to fa_icon("angle-left", class: "fa-solid fa-2x mr-2", style: 'color: white; font-size: 40px;'), root_path%>
          </div>
          <div class="col-auto">
            <%= link_to "Browse All Instruments!", instruments_path, class: "btn-treehouse" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" style="margin-top: 50px;">
    <p style="font-size: 1.5em;">Once upon a time, there was a group of music enthusiasts named Jantine, Benjamin, Michael and Jian who loved to play various instruments. They had a small collection of instruments at home,
    but they always wished they could try out new ones without having to buy them. One day, they decided to create a website called InstrumentPal.</p>
    <p style="font-size: 1.5em;">InstrumentPal is a unique platform where people could rent out their own musical instruments to others who wanted to play them. The website had a vast
    collection of instruments from all around the world, including guitars, pianos, drums, violins, saxophones, and more.</p>
    <p style="font-size: 1.5em;">If you're a music enthusiast looking to explore different instruments without breaking the bank, InstrumentPal is the
    perfect platform for you. With its vast collection of instruments from all around the world, you can try out new instruments,
    hone your skills, and unleash your creativity without having to make a long-term investment. InstrumentPal also fosters a strong community
    of music lovers who share your passion for music, offering a supportive and collaborative environment for you to learn and grow. So why not
    start your musical journey today with InstrumentPal and discover the world of music like never before?</p>
  </div>
</div>
