.btn-treehouse{
  background-color: #6AD58B;
  padding: 12px 25px;
  color: white;
  border-radius: 5px;
  font-weight: bolder;
  text-decoration: none;
}

.btn-treehouse:hover{
  background-color: #46c970;
  color: white;
}
