.container {
  width: 1000px;
  margin: auto;
}

.container h2{
  text-align: center;
  font-size: 30px;
  padding: 40px;
}

.main-container{
  position: relative;
  top: 70px;
}

.home-container{
  position: relative;
  top: -10px;
}
