<h1> Show all instruments
</h1>
<ul>
  <% @instruments.each do |instrument| %>
    <li><%= link_to instrument.model, instrument %></li>
  <% end %>
</ul>

<p><%= link_to "Add a new instrument", new_instrument_path %></p>
